<form [formGroup]="myForm" >
    {{myForm.value |json}}
   
        <hr>
        <mat-form-field class="form-group" [ngClass]="{'has_error':myForm.get('mail').errors && (myForm.get('mail').touched || myForm.get('mail').dirty)}">
                <label matLabel for="mail">Email</label> 
            <input id="mail" matInput formControlName="mail" type="text" class="form-control " name="mail" required ngmModel validateEmail>
        </mat-form-field>            
        <span *ngIf="myForm.get('mail').errors?.validateEmail && (myForm.get('mail').touched || myForm.get('mail').dirty)" class="alert alert-danger">
            Email expression is invalid
      </span>
      <br>
      <mat-form-field class="form-group" [ngClass]="{'has_error':myForm.get('cp').errors && (myForm.get('cp').touched || myForm.get('cp').dirty)}">
        <label matLabel for="cp">Code Postal</label> 
            <input id="cp" matInput formControlName="cp" type="text" class="form-control " name="cp" required ngmModel CPvalid>
        </mat-form-field>            
        <span *ngIf="myForm.get('cp').errors?.CPvalid && (myForm.get('cp').touched || myForm.get('cp').dirty)" class="alert alert-danger">
            cp expression is invalid
        </span>
        <br>

        <mat-form-field class="form-group" [ngClass]="{'has_error':myForm.get('prenom').errors && (myForm.get('prenom').touched || myForm.get('prenom').dirty)}">
                <label matLabel for="prenom">prenom</label> 
            <input id="prenom" matInput formControlName="prenom" type="text" class="form-control " name="prenom" required >
        </mat-form-field>            
        <span *ngIf="myForm.get('prenom').errors?.required  && (myForm.get('prenom').touched || myForm.get('prenom').dirty)" class="alert alert-danger">
                prenom is required.
      </span>
      <br>
      <mat-form-field class="form-group" [ngClass]="{'has_error':myForm.get('nom').errors && (myForm.get('nom').touched || myForm.get('nom').dirty)}">
            <label matLabel for="nom">Nom</label> 
        <input id="nom" matInput formControlName="nom" type="text" class="form-control " name="nom" required >
    </mat-form-field>            
    
    <input type="file"  id="photo" #file formControlName="photo"  class="form-control " name="photo"  (change)="preview(file.files)"/>
    <img [src]="imgURL" height="200" *ngIf="imgURL">
    
    
        <div formArrayName="skills">
    
            <div *ngFor="let skill of skillsForms.controls; let i=index" [formGroupName]="i">
    
    
                <mat-form-field class="xs">
                    <label></label>
                    <input matInput  placeholder="name" formControlName="name">
                </mat-form-field>
    
                <mat-form-field class="xs">
                    <input matInput placeholder="lvl" formControlName="lvl">
                </mat-form-field>
                
                <button mat-raised-button color="warn" (click)="deleteSkill()">Delete</button>
    
            </div>
    
        </div>
        <button mat-raised-button color="primary" (click)="findInvalidControls()" (click)="show = !show" (click)="addskill()">Add skill</button>
        <span *ngIf="myForm.get('skills').errors?.validateSkillNumber && show" class="alert alert-danger">
            pas plus de 3 exp               
        </span>
        <div formArrayName="exp">
    
            <div *ngFor="let exp of expForms.controls; let i=index" [formGroupName]="i">
    
    
                <mat-form-field class="xs">
                    <label></label>
                    <input matInput  placeholder="name" formControlName="name">
                </mat-form-field>
    
                <mat-form-field class="xs">
                    <input matInput placeholder="lvl" formControlName="lvl">
                </mat-form-field>
                
                <button mat-raised-button color="warn" (click)="deleteexp()">Delete</button>
    
            </div>
    
        </div>
        <button mat-raised-button color="primary" (click)="findInvalidControls()" (click)="show = !show" (click)="addexp()">Add exp</button>
        <span *ngIf="myForm.get('exp').errors?.validateSkillNumber && show" class="alert alert-danger">
            pas plus de 3 exp               
        </span>
        <div formArrayName="diplomes">
    
            <div *ngFor="let diplomes of diplomesForms.controls; let i=index" [formGroupName]="i">
    
    
                <mat-form-field class="xs">
                    <label></label>
                    <input matInput  placeholder="name" formControlName="name">
                </mat-form-field>
    
                <mat-form-field class="xs">
                    <input matInput placeholder="lvl" formControlName="lvl">
                </mat-form-field>
                
                <button mat-raised-button color="warn" (click)="deletediplomes()">Delete</button>
    
            </div>
    
        </div>
        <button mat-raised-button color="primary" (click)="findInvalidControls()" (click)="show = !show" (click)="adddiplomes()">Add exp</button>
        <span *ngIf="myForm.get('diplomes').errors?.validateSkillNumber && show" class="alert alert-danger">
            pas plus de 3 diplomes               
        </span>
        <input [matDatepicker]="myDatepicker" disabled id="datenaisance" name="datenaisance" formControlName="datenaisance"  class="form-control" required>
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker disabled="false"></mat-datepicker>
        <button (click)="save();" [hidden]="clicked" (click)="actionMethod(); clicked = true;"  routerLink="/CV" routerLinkActive="active" type="submit" [disabled]="!myForm.valid">SAVE</button>


    
</form>